<nav class="navbar fixed-top navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <span class="navbar-brand mb-0 h1">Developer Posts</span>
    
    <ul *appShowAuthed="true" class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li *ngIf="currentUser">
        <a class="nav-link">{{this.currentUser}}</a>
      </li>
      <li *ngIf="currentUser">
        <a class="nav-link" routerLink='/' (click)="logout()">Logout</a>
      </li>
    </ul>
    
    <ul *appShowAuthed="false" class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Sign in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Sign up</a>
      </li>
    </ul>
  </div>
</nav>