<div class="container outer shadow p-3 mb-5 rounded">
  <div class="text-center">
    <h3>{{ title | uppercase }}</h3>
    <a [routerLink]="['/login']" *ngIf="authType == 'register'">Have an account?</a>
    <a [routerLink]="['/register']" *ngIf="authType == 'login'">Need an account?</a>
  </div>
  <hr>
  <form [formGroup]="authForm" class="needs-validation" novalidate>
    <div *ngIf="authType === 'register'" class="form-group col-sm-12">
      <label for="name">Name:</label>
      <input id="name" class="form-control" formControlName="name" placeholder="Username" type="text" required>
      <div *ngIf="name.errors && name.errors.minlength"> Name must be at least 4 characters long. </div>
    </div>
    <div class="form-group col-sm-12">
      <label for="form-email col-sm-12">Email:</label>
      <input id="form-email" class="form-control" formControlName="email" placeholder="Email" type="text">
    </div>
    <div class="form-group col-sm-12">
      <label for="form-password">Password:</label>
      <input id="form-password" class="form-control" formControlName="password" placeholder="Password" type="password">
    </div>
    <div *ngIf="authType === 'register'" class="form-group col-sm-12">
      <label for="form-confirm-password">Confirm Password:</label>
      <input id="form-confirm-password" class="form-control" formControlName="confirmPassword" placeholder="Password"
        type="password">
    </div>
    <div class="form-group col-sm-12">
      <button class="btn btn-primary" (click)="onSubmit()" type="submit"
        [disabled]="!authForm.valid">{{ title | uppercase }}</button>
    </div>
  </form>
</div>